body aside {
  flex-direction: column;
  display: flex;
  height: 90vh;
  width: 100wh;
  background: linear-gradient(-45deg, #23D5AB, #E73C7E, #23A6D5, #387c57);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: #fff;
  }
  

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

.awb {
  font-size: small;
}

.lindelof {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
}

#degea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#degea td, #degea th {
  border: 1px solid bisque;
  padding: 8px;
}

#degea tr:hover {
  background-color: bisque;
}

#degea tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c300a;
  color: white;
}

#showcase{
  min-height:400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

div.okay {
  border: 1px solid #ccc;
}

div.okay:hover {
  border: 1px solid #777;
}

div.okay img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
